body {
    color:black;
    background-color:white;
    background-image:url(background.jpg);
    background-repeat:no-repeat;
    background-position:50% 50%;
    margin: 0px;;
}



  
div {
background-position:  25cm bottom;
}